*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.grey-bg{
    background-color: #EFEFEF;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu2{
    border-top: 2px solid #EFEFEF;
}

.menu-item{
    padding: 17px 15px;
}

.menu2>.menu-item{
    padding: 30px 20px;
}

.menu-item-link{
 color: #000;
}

.twoside{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 20px 0;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.logo{
   gap:20px ;
}

.logo-name{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    color:  #F13C6E; 
    text-transform: uppercase;
}

.call{
    gap: 40px;
}


.cal-link{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn{
    border: 2px solid;
    border-radius: 40px;
}

.call-btn{
    border-color: #F13C6E;
    background-color: #fff;
    padding: 12px 50px;
}

.img-container {
    position: relative;
    display: inline-block;
}

.img-container img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-text{
    text-align: center;
  position: absolute;
  top: 192px;
  left: 405px;
  height: 219px;
  width: 308px;
  transform: translate(-50%, -50%);
  color: #fff;
  max-width: 308px;
    flex-shrink: 0;
}

.img-title{
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 50px;
}

.img-text2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.more{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
    background-color: #F13C6E;
}

.more-btn{
    width: 170px;
    height: 40px;
    flex-shrink: 0;
    border: 2px solid;
    border-radius: 40px;
}

.offers{
    padding: 80px 15%;
}

.offers > h3{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 40px;
}

.goods{
    gap: 30px;
}

.goods-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 225px;
}

.item-img{
 width: 125px;
 background-color: #fff;
}

.item-name{
    color: #333;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; 
}

.item-price{
    color: #000;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.05px;
}

.item-btn{
    border-color: #F13C6E;
    background-color: #F13C6E;
    color: #fff;
    padding: 9px 53px;
    text-transform: capitalize;
}

.card-container{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card{
    background-color: #F13C6E;
    padding: 35px 45px 35px 40px;
}

.card-body{
    display: flex;
    align-items: center;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.card-title{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-text{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; 
    width: 80%;
}

.card-input{
    border-radius: 30px;
    background: #FFF;  
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: transparent;
    padding: 9px 45px 9px 25px;
}

.card-input::placeholder{
    color: #C4C4C4;
}

.card-btn{
    border-color: #fff;
    background-color: transparent;
    padding: 9px 53px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.brands{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 1110px;
    height: 357px;
    flex-shrink: 0;
    padding: 35px 60px;

}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    height: 300px; 
    margin: 1px;
}

.row {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #fff;
}

.pop-category{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140.625%; 
   
}

.popular{
    box-sizing: border-box;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;  
}

.category{
    float: left;
    width: 15%;
    padding: 10px;
    height: 300px;
    color: var(--828282, #828282);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
   
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--gray, #EFEFEF);
    color: var(--828282, #828282);
    text-align: justify;
}


.end-item1{
    color: var(--828282, #828282);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.end-item{
    color: var(--828282, #828282);
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }